/*****************************************************/
/* Estilos para seccion animacion Demo               */
/* Por: Antonio Solis Perales                        */
/* info@horizondevs.net                              */
/*****************************************************/
/* Importación de fuentes  */
@import url("https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Jura:wght@300..700&display=swap");
/* Variables Iniciales */
/***********************/
:root {
  /* Fonts types         */
  --fuente-jura: "Jura", sans-serif;
  --fuente-cutive: "Cutive Mono", monospace;

  /* Colores del sitio   */
  --color-fondo: rgb(147, 163, 162);
  --color-texto-normal: rgb(10,100,10);
  --color-texto-resaltado: rgb(92, 122, 35);
  --color-fondo-footer: rgb(255,255,255);
  --color-btn: rgb(160,210,92);
  --color-btn-hover:rgb(214,210,77);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all 0.6s ease-in-out;
}

body{
    /* background-image: url("../assets/keyboard.jpg"); */
    background-color: var(--color-fondo);
    background-size: cover;
    background-position: center center;
    height: 80vh;
    font-family: var(--fuente-jura);
    font-size: 1rem;
}

.header{
    display: flex;
    padding: 0%;
    align-items:center ;
    width: 100%;
  }
  
  .logo{
    display: flex;
    width: 5%;
    margin-top: 20px;
    margin-left: 40px;
    cursor: pointer;
  }

a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5px 5px 5px;
    text-decoration: none;
    font-family: var(--fuente-jura);
    font-size: 1.1rem;
    font-weight: 900;
}

.nav-area{
    list-style: none;
}

.nav-area li{
    display: inline-block;
    padding: 0 15px;
    text-transform: uppercase;
}

.nav-area li a{
    transition: .3s;
    color: var(--color-texto-normal);
}

.nav-area li a:hover{
    color:var(--color-btn-hover);
}

.main{
    width: 100%;
    height: 100%;
    border: 1px solid black;
    overflow: auto;
  }

  .contenedor_img{
    width: 400px;
    height: 300px;
    overflow: hidden;
  }

  section .img1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 450px;
    background: url("../assets/lens.jpg");
    background-attachment: fixed;
    background-position: center;
    z-index: 1;
    transition: 2s;
  }

  .img1:hover ~ .img2{
    filter: blur(10px);
  }

  .img1:hover{
    box-shadow: 0 25px 60px rgba(0,0,0,0.8);
  }

  section .img2{
    position: absolute;
    top: 15%;
    left: 10%;
    width: 80%;
    height: 78%;
    background: url("../assets/lens.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    transition: 2s;
  }

  .process_area{
    width: 300px;
    display: flex; 
  }

/* **********************************
   *******     FOOTER     *********** 
   **********************************/
.footer {
    font-family: var(--fuente-jura);
    font-size: .85rem;
    text-align: center;
    background: var(--color-fondo-footer);
    padding: 5px 0 0 0;
  }
  
  .footer_text a {
    color: var(--color-texto-normal);
    text-decoration: none;
  }