/*****************************************************/
/* Estilos para seccion animacion Demo               */
/* Por: Antonio Solis Perales                        */
/* info@horizondevs.net                              */
/*****************************************************/
/* Importación de fuentes  */
@import url("https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Jura:wght@300..700&display=swap");
/* Variables Iniciales */
/***********************/
:root {
  /* Fonts types         */
  --fuente-jura: "Jura", sans-serif;
  --fuente-cutive: "Cutive Mono", monospace;

  /* Colores del sitio   */
  --color-fondo: rgb(147, 163, 162);
  --color-texto-normal: rgb(10,100,10);
  --color-texto-resaltado: rgb(158, 226, 33);
  --color-fondo-footer: rgb(255,255,255);
  --color-btn: rgb(160,210,92);
  --color-btn-hover:rgb(214,210,77);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all 0.6s ease-in-out;
}

body{
    background-color: var(--color-fondo);
    background-size: cover;
    background-position: center center;
    height: 80vh;
    font-family: var(--fuente-jura);
    font-size: 1rem;
}

.header{
    display: flex;
    padding: 0%;
    align-items:center ;
    width: 100%;
  }
  
  .logo{
    display: flex;
    width: 5%;
    margin-top: 20px;
    margin-left: 40px;
    cursor: pointer;
  }

a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5px 5px 5px;
    text-decoration: none;
    font-family: var(--fuente-jura);
    font-size: 1.1rem;
    font-weight: 900;
}

.nav-area{
    list-style: none;
}

.nav-area li{
    display: inline-block;
    padding: 0 15px;
    text-transform: uppercase;
}

.nav-area li a{
    transition: .3s;
    color: var(--color-texto-normal);
}

.nav-area li a:hover{
    color:var(--color-btn-hover);
}

.main{
    width: 100%;
    height: 100%;
    border: 1px solid black;
    overflow: auto;
    background-size: cover;
    background-position: center center;   
}

/* **********************************
   *******  AREA DE TRABAJO    ****** 
   **********************************/
.redes-area{
    display: grid;
    place-items: center;
    height: 75vh;

}

.social-icons{
    display: flex;
    justify-content: space-between;
    width: 170px;
    
}

.social-icon{
    box-shadow: 0 0 0 10px rgba(255,255,255, 0.3) inset;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out 0s;
    background-size: cover;
    background-position: center center;
}

.social-icon:hover{
    box-shadow: 0 0 0 50px rgba(0, 0, 0, 1) inset;
    transform: scale(1.2,1.2);
}

.social-icon i{
    font-size: 40px;
    color: #fff;
    opacity: 0;
    transform: scale(0);
    transition: all 0.8s ease-in-out 0s;
}

.social-icon:hover i{
    opacity: 1;
    transform: scale(.8);


}


/* **********************************
   *******     FOOTER     *********** 
   **********************************/
.footer {
    font-family: var(--fuente-jura);
    font-size: .85rem;
    text-align: center;
    background: var(--color-fondo-footer);
    padding: 5px 0 0 0;
  }
  
  .footer_text a {
    color: var(--color-texto-normal);
    text-decoration: none;
  }